*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0 20px;
    background-color: #eeeef0;
}
header{
    width: 100%;
}
header .container{
    width: 100%;
    height: 190px;
    background-color: #fff;
}
header .container .row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .row .logo img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
header .container .row .address{
    padding-right: 10px;
}
header .navbar{
    width: 100%;
}
header .navbar .navbar-nav{
    width: 100%;
    list-style-type: none;
    display: flex;
    background-color: #a8b2be;
}
.navbar .navbar-nav .active{
    background-image: linear-gradient(to right,#74ead5, #9daee5);
}
.navbar .navbar-nav .nav-link{
    padding: 10px 50px;
    font-size: 18px;
    color: white;
    font-weight: 200;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    border-right: 1px solid white;
}
.navbar .navbar-nav .nav-link:hover{
    background-image: linear-gradient(to right,#74ead5, #9daee5);
}

/* Hero banner */
main{
    width: 100%;
}
.hero-banner{
    width: 100%;
    height: 420px;
    padding: 15px;
    background-color: #fff;
}
.hero-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    width: 100%;
    background-color: #fff;
}
.content .container{
    width: 100%;
}
.content .container .row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.content .container .row .sitebar-left{
    width: 18%;
    height: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.content .container .row .sitebar-left .category{
    width: 100%;
}
.content .container .row .sitebar-left .category .title{
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #aab4c0;
}
.content .container .row .sitebar-left .category .category-list{
    width: 100%;
    list-style: none;
}
.content .container .row .sitebar-left .category .category-item{
    width: 100%;
}
.content .container .row .sitebar-left .category .category-link{
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: 0.4s;
    border-bottom: 1px solid white;
    background-color: #cacdd4;
}
.content .container .row .sitebar-left .category .category-item:hover .category-link{
    background-image: linear-gradient(to right,#74ead5, #9daee5);
    padding-left: 25px;
}

.content .container .row .sitebar-right{
    width: 79%;
    height: 100%;
}
.content .container .row .sitebar-right .type .title{
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    background-color: #aab4c0;
}
span a{
    font-size: 14px;
    float: right;
    color: white;
    text-decoration: none;
}
.content .container .row .sitebar-right .type .row{
    width: 100%;
    padding: 25px 10px 15px;
    display: flex;
    justify-content: space-between;
}
.content .container .row .sitebar-right .type .row .col-3{
    width: calc(100%/4 - 20px);
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* footer */
footer h1{
    width: 100%;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 40px 0;
    background-color: #aab4c0;
}